.user-links{
    flex: 1;
    overflow: scroll;
    order: 2;
    margin-left: 0.2em;
    margin-bottom: -2em;
    margin-top: -2.1em;
    justify-content: left !important;
}
  

.archetype-private_message .user-links{
    margin-bottom: 0 !important;
    margin-top: 0 !important;    
    margin-left: 0 !important;
    order: 4 !important;
}
