.user-links{
  display: flex;
  column-gap: 0.5em;
  overflow-x: scroll;
  overflow-y: hidden;

  align-items: center; 
  height: 1.3em;
  flex-basis: auto !important;

  .icon{
    flex: 1;
    font-size: large;

    .d-icon-comment-dollar:hover{
      color: #3AB54A;
    }
    .d-icon-hand-holding-heart:hover{
      color: #A461EF;
    }
    .d-icon-fab-instagram:hover{
      color: var(--instagram);
    }
    .d-icon-fab-youtube:hover{
      color: red;
    }
    .d-icon-fab-twitter:hover{
      color: var(--twitter);
    }
    .d-icon-fab-ebay{
      font-size: xx-large;
    }
    .d-icon-fab-ebay:hover{
      color: #F5AF02;
    }
  }
}

.archetype-private_message{
  .user-links{
    display: none !important;
  }
}

#ebayPopup {
  position: absolute;
  font-size: x-small;
  display: block;
  max-width: 200px;
  padding: 5px;
  text-align: center;
  background: var(--secondary);
  border: 1px solid var(--tertiary);
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  .ebay-buttons{
    display: flex;
    width: 100%;
    min-height: 40px;
    .btn{
      flex: 1;
      padding: 6px;
      margin: 6px;
    }
  }


}
